$alert-margin: 25px;

.alert{
  z-index: 1;
  margin-top: $alert-margin;
  right: $alert-margin;
  position: fixed;
  width: 25%;
  max-width: 400px;
  animation: fade-out 1s ease-in-out forwards;
  animation-delay: var(--alert-duration);
}

@keyframes fade-out {
  from { opacity: 1; }
  to { opacity: 0; }
}
